<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Clima</ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content>
    <div class="card">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Tiempo actual</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item lines="none">
            <ion-label id="ciudad">Ciudad: </ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-label id="temperatura">Temperatura: </ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-label id="humedad">Humedad: </ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-label id="presion">Presión: </ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-label id="viento">Viento: </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
      <ion-button id="botonClima" (click)="funcionClima()">Obtener clima</ion-button>
    </ion-card>
    </div>
</ion-content>
