ion-content.background{
    --background: url(../../../assets/img/sunny_background.png) no-repeat center center / cover;
}

ion-card-title{
    text-align: center;
    color: #EFAA82
}

#clima-card {
  background: #FAE2BD;
  border-radius: 5%;
}

#temperatura {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 6em;
  line-height: 116px;
  color: #EFAA82;
}

#condicion-clima{
    font-family: 'Poppins';
    font-style: bold;
    font-weight: 600;
    font-size: 1.7em;
    text-align: center;
    color: #EFAA82;
    justify-content: center;
    display: flex;
}

.parametro-clima{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.2em;
    text-align: center;
    color: #EFAA82;
    justify-content: center;
    display: flex;
}