<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Clima</ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content class="background">
    <div class="card">
    <ion-card id="clima-card">
      <ion-card-header>
        <ion-card-title>Hoy</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col id="vector-clima">
              <ion-img id="condicion-img" src="/assets/img/sunny-vector.svg"></ion-img>
            </ion-col>
            <ion-col id="temperatura">32º</ion-col>
          </ion-row>
          <ion-row id="condicion-clima"> Soleado </ion-row>
          <ion-row class="parametro-clima" id="ciudad"> Santiago </ion-row>
          <ion-row class="parametro-clima" id="humedad"> Humedad </ion-row>
          <ion-row class="parametro-clima" id="sensacion-termica"> Sensación termica </ion-row>
          <ion-row class="parametro-clima" id="viento"> Viento </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    </div>
</ion-content>
