ion-content{
    --background: url("/assets/img/duoc.jpeg") no-repeat center center / cover;

    .header{
        padding: 5vh 10vw;
        margin-top: 0em;
        color: #fff;
        h3{
            font-size: 1.1rem;
            color: #ffde59
            span{
                color: #fff;
            }
        }
        h1{
            font-size: 2.2rem;
            font-weight: 400;
        }
    }
    .form{
        padding: 0 12vw;
        margin-top: 18px;
        ion-input{
            --background: #3534be;
            --padding-start: 33px;
            height: 55px;
            border-radius: 25px;
            margin-bottom: 22px;
            --placeholder-color: #ffffff;
            --color: #fff;        }
    }
    .login-button{
        width: 50vw;
        background-color: #ffde59;
        margin-top: 10px;
        margin-left: 70px;
        padding: 10px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 500;
        text-align: center;
        justify-content: flex-end;
        ion-icon{
            margin-left: 25px;
        }
    }
    .footer{
        color: #fff;
        padding: 0 12vw;
        margin-top: 10px;
        text-align: center;
        h3{
            font-size: 1rem;
            font-weight: 400;

            span{
                font-size: 1.2rem;
                color: #ffde59;
                font-weight: 500;
            }
        }
    }

}