<ion-header>
  <ion-title>Page 404</ion-title>
</ion-header>
<ion-content>
  <div class="card">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Error 404</ion-card-title>
    </ion-card-header>
    <ion-card-content id="error-card">
      <ion-grid>
        <ion-row>
          <ion-img id="ghost-img" src="/assets/img/ghost.png"></ion-img>
        </ion-row>
        <ion-row>Lo sentimos, el contenido que buscas no está disponible...</ion-row>
        <ion-row>
          <ion-button (click)="botonRegresarHome()">Regresar</ion-button>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  </div>
</ion-content>

